.main-content-background {
  background-image: url('./tablepingpong.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.footer-transparent {
  background-color: rgba(238, 215, 215, 0.5);
  color: #835d5d;
}
