<!-- joueur-liste.component.html -->
<div class="container mt-5">
  <h2>Liste des Joueurs</h2>
  <div *ngIf="afficherAlerte" class="alert alert-success mt-3" role="alert">
    {{ messageSucces }}
  </div>
  <div class="table-responsive mt-4">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Sexe</th>
        <th scope="col">Âge</th>
        <th scope="col">Niveau</th>
        <th scope="col">Points</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let joueur of joueurs; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ joueur.prenom }}</td>
        <td>{{ joueur.nom }}</td>
        <td>{{ joueur.sexe }}</td>
        <td>{{ joueur.categorie?.[0].age }}</td>
        <td>{{ joueur.categorie?.[1].niveau }}</td>
        <td>{{ joueur.point }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="confirmerSuppression(joueur._id)">
            <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
