<div class="container mt-5">
  <h2 class="mb-4">Liste des Matchs</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover shadow">
      <thead class="table-dark">
      <tr>
        <th scope="col">Équipe 1</th>
        <th scope="col">Équipe 2</th>
        <th scope="col">Date</th>
        <th scope="col">Heure</th>
        <th scope="col">Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of matchs">
        <td>{{ match.equipe1 }}</td>
        <td>{{ match.equipe2 }}</td>
        <td>{{ match.date }}</td>
        <td>{{ match.heure }}</td>
        <td>{{ match.resultat }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
