
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" routerLink="listeMatchs" routerLinkActive="active">Liste de matchs Dans Tournoi</a>
  <a class="flex-sm-fill text-sm-center nav-link active" routerLink="ajoutTournoi" routerLinkActive="active">Ajouter tournoi</a>
  <button class="flex-sm-fill text-sm-center nav-link active" (click)="supprimerLePremierTournoi()">
    <i class="fa fa-trash" aria-hidden="true"></i> Supprimer le tournoi
  </button>
</nav>

<div *ngIf="afficherAlerte" class="alert alert-success" role="alert">
  {{ messageSucces }}
</div>
<router-outlet></router-outlet>

