<div class="container">
  <!-- Section pour les matchs -->
  <div *ngIf="matchs.length > 0" class="row">
    <div *ngFor="let match of matchs; let i = index" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Match {{ match.numeroMatch }}</h5>
          <p><strong>Équipe 1:</strong> {{ match.equipe1 }}</p>
          <p><strong>Équipe 2:</strong> {{ match.equipe2 }}</p>
          <p><strong>Date:</strong> {{ match.date | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Heure:</strong> {{ match.heure }}</p>
          <p><strong>Scores:</strong> {{ match.score1 }} : {{ match.score2 }}</p>
          <div class="input-group mb-3">
            <input type="number" [(ngModel)]="match.newScore1" placeholder="Score équipe 1" class="form-control">
            <input type="number" [(ngModel)]="match.newScore2" placeholder="Score équipe 2" class="form-control">
            <div class="input-group-append">
              <button (click)="updateScore(i, match.newScore1, match.newScore2)" class="btn btn-outline-secondary">
                Mettre à jour le score
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="row">
    <div class="col-12 text-center mt-4">
      <button (click)="getAllEquipeGagnant()" class="btn btn-primary">Afficher les Équipes Gagnantes</button>
      <button (click)="avancerRonde()" class="btn btn-secondary ml-2">Avancer à la Ronde Suivante</button>
    </div>
  </div>


  <!-- Section pour l'affichage de l'équipe gagnante finale et ses joueurs -->
  <div *ngIf="unEquipeGagnatFinal" class="row mt-4">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ unEquipeGagnatFinal.nom }} ({{ unEquipeGagnatFinal.type }})</h5>
          <h6 class="card-subtitle mb-2 text-muted">Joueurs:</h6>
          <ul class="list-unstyled">
            <li *ngFor="let joueur of unEquipeGagnatFinal.joueurs">
              {{ joueur.prenom }} {{ joueur.nom }} - Sexe: {{ joueur.sexe }},
              Catégories: Age {{ joueur.categorie[0].age }}, Niveau {{ joueur.categorie[1].niveau }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="equipes_gagnants && equipes_gagnants.length > 0" class="row mt-4">
    <div *ngFor="let equipe of equipes_gagnants" class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Équipe Gagnante:</strong> {{ equipe.equipeGagnante }}</p>
        </div>
      </div>
    </div>
  </div>
</div>






