<div class="container">
  <div class="row">
    <div *ngFor="let match of matchs; let i = index" class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Match {{ match.numeroMatch }}</h5>
          <p class="card-text"><strong>Équipe 1:</strong> {{ match.equipe1 }}</p>
          <p class="card-text"><strong>Équipe 2:</strong> {{ match.equipe2 }}</p>
          <p class="card-text"><strong>Date:</strong> {{ match.date | date: 'dd/MM/yyyy' }}</p>
          <p class="card-text"><strong>Heure:</strong> {{ match.heure }}</p>
          <p class="card-text">
            <strong>Scores:</strong> {{ match.score1 }} : {{ match.score2 }}
          </p>
          <input type="number" [(ngModel)]="match.newScore1" placeholder="Score équipe 1">
          <input type="number" [(ngModel)]="match.newScore2" placeholder="Score équipe 2">
          <button (click)="updateScore(i, match.newScore1, match.newScore2)">Mettre à jour le score</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-4">
      <button (click)="getAllEquipeGagnant()">Afficher les Matchs Gagnants</button>
      <!-- Bouton pour avancer à la ronde suivante du tournoi -->
      <button (click)="avancerRonde()" class="ml-2">Avancer à la Ronde Suivante</button>
    </div>
  </div>

  <div *ngIf="equipe_gagnant && equipe_gagnant.length > 0" class="row mt-4">
    <div *ngFor="let equipe of equipe_gagnant" class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Équipe Gagnante:</strong> {{ equipe.equipeGagnante }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
